body {
  
  padding-top: 70px;
}

div.container {
 
  max-width: 97%;
  width: auto;
}

#canvas {
  
  height: 480px;
  width: 100%;
  /*background-color: black;*/
}

div#canvas.showbg {
  background-color: black;
}

#panel {
  
  width: 100%;
  height: 200px;
  border: 1px solid grey;
}

button.start {
  
  min-width: 93px;
  margin-right: 10px;
}

table.info {
  
}

table.info td {
 
 width: 100px;
}

table.info span {
 
 margin-right: 5px; 
}

div.caret {
 
 margin-left: 10px; 
}

.control-content {
 
 padding-top: 7px; 
}

.control-bar {
 
  width: 300px; 
}

div.replay {
  
 width: 800px; 
}
#replay {
 
 width: 100%;
 height: 400px; 
}

.slider {
 
  width: 60%;
}

.slider-input {
  
  height: 40px;
  width: 40px;
  text-align: center;
  margin-left: 30px;
}

#replay_slider {

  width: 400px;
}

#graph {
  
  width: 100%;
  height: 300px;
}

table.frontPanel {
 
 width: 100%; 
}

table.frontPanel td{
 
  padding-bottom: 10px;
}
